.todo-form-container {
    width: 100%;
    height: 11%;

    h1 {
        text-align: center;
    }

    .todo-form {
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: space-between;

        .todo-form-input {
            width: 80%;
            height: fit-content;

            input {
                width: 100%;
                padding: 1rem 2rem;
                border-radius: 10px;
                border: 1px solid lightgray;

                &:focus {
                    outline: none;
                }
            }
        }
        .todo-form-btn {
            width: 10%;
            // height: fit-content;
            display: flex;

            button {
                background-color: rgb(60, 60, 199);
                border: none;
                border-radius: 2px;
                font-size: 1rem;
                font-weight: bold;
                color: white;
                margin: auto;
                height: fit-content;
                padding: 0.5rem 1rem;
                box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
                cursor: pointer;

                &:active {
                    box-shadow: 2.5px 2.5px 5px rgba(0, 0, 0, 0.3);
                }
            }

            .save-btn {
                background-color: darkgreen;
            }
        }
    }
}