.todo-list {
    width: 100%;
    height: 80%;
    margin: 1rem 0;
    margin-top: auto;
    overflow: auto;

    .todo-item {
        display: flex;
        justify-content: space-between;

        &--checkbox {
            display: flex;
            width: 20%;
        }

        &--text {
            width: 50%
        }

        &--action {
            display: flex;
            width: 10%;

            button {
                margin: auto;
                border: none;
                padding: 0.5rem;
                cursor: pointer;
                box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);

                &:active {
                    box-shadow: 2.5px 2.5px 5px rgba(0, 0, 0, 0.3);
                }
            }
        }

        &--delete {
            background-color: red;
            color: white;
        }
        &--edit {
            background-color: orange;
            color: white;
        }
    }
}