.checkbox {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid black;
    margin: auto;
}

.checked {
    border-color: green;
    background-color: green !important;
}